<div class="theme-colors text-light">
  <div class="container-fluid">
    <section class="justify-content-center">

      <div class="row p-2">

        <div class="col ms-auto text-center" {% if page.is_post %} data-nosnippet {% endif %}>

          <div>
            <a href="/"><img height="120px" src="/assets/img/primary/logo.webp" alt="bookenjenn logo"></a>
          </div>
          <p>I love books!</p>

        </div>

        <div class="col text-center ms-auto p-2" data-nosnippet>
          <p>Follow Me</p>
          <a href="{{ site.instagramUrl }}">
            <i class="fab fa-instagram fa-3x m-1"></i></a>
          <a href="{{ site.goodreadsUrl }}">
            <i class="fab fa-goodreads fa-3x m-1"></i></a>
          <a href="{{ site.linkedinUrl }}">
            <i class="fab fa-linkedin fa-3x m-1"></i></a>
          <a href="{{ site.pinterestUrl }}">
            <i class="fab fa-pinterest fa-3x m-1"></i></a>
        </div>

        <div class="col text-center ms-auto p-2" data-nosnippet>
          <p>Website Info</p>
          <ul class="list-unstyled mb-0">
            <li class="nav-item">
              <a class='nav-link' href="/" draggable="false">Home</span></a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="/blog" draggable="false">Blog</span></a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="/contact" draggable="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="justify-content-center text-center" data-nosnippet>
        <small>© All Rights Reserved | <a href="https://bookenjenn.com/">bookenjenn.com</a> | <a
            href="/legal/privacy-policy">Privacy</a></small>
      </div>
    </section>

  </div>

</div>