---
layout: primary
---

<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color">
        <div class="post-content">
            <h2>About Me</h2>
        </div>
    </div>
</div>

<div class="blog-content">
    {{ content }}

    <div class="row">
        <div class="column">
            <h4>Portfolio:</h4>
            <ul>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/mediaposts">Marketing</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>My Services:</h4>
            <ul>
                <li><a href="https://www.fiverr.com/s/P29RmGL">Fiverr Freelance</a></li>
            </ul>
        </div>
    </div>

    <h2>Resume</h2>
    <div class="frame-container">
        <iframe class="frame" src="/assets/files/Jenn-Chastka-RESUME.pdf"></iframe>
    </div>
</div>
