---
layout: primary
---

<header class="posts-header" id="posts-home-header-id">
    <div class="posts-header-title">
        <div>
            <img src="/assets/img/primary/my-profile-pic-w.webp">
        </div>
        <div>
            <h1>Book EnJenn</h1>
            <h2>Powered By Books!</h2>
            <p>Hi! I'm Jenn. I’m a writer, editor, and content creator with a passion for books. I write insightful
                reviews focusing on plot, character development, and reader interest. <a href="/contact">More></a>
            </p>
            <div class="col p-2 ms-auto text-center">
                <a href="{{ site.instagramUrl }}">
                    <i class="fab fa-instagram fa-3x m-1"></i></a>
                <a href="{{ site.goodreadsUrl }}">
                    <i class="fab fa-goodreads fa-3x m-1"></i></a>
                <a href="{{ site.linkedinUrl }}">
                    <i class="fab fa-linkedin fa-3x m-1"></i></a>
            </div>
        </div>
    </div>
</header>
<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color center-text">
        <h2>Recent Posts</h2>
    </div>
    <div class="post-card-container">
    {% for post in site.posts limit:4 %}
        {% include post-card.html post=post length=76 %}
    {% endfor %}
    </div>
    <div class="featured-posts-title secondary-theme-color center-text">
        <h2>Trending Posts</h2>
    </div>
    <div class="post-card-container">
        {% assign pinned_posts = site.posts | where: "pinned", true %}
        {% for post in pinned_posts limit:4 %}
            {% include post-card.html post=post length=76 %}
        {% endfor %}
    </div>
</div>